body{
  background: url("../img/site_background.jpg");
}

.container{
  width:100%;
  height:auto;
}
p{
  display: block;
}
div{
  display: block;
}

.whiteboard{
  background-color: white;
  box-shadow: 0px 0px 20px 0px;
  color:black;
}


.logo{
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 30px;
}

.extra-top-margin{
  margin-top: 30px;
}

.nav{
  display: block;
  list-style-type: none;
}
#main-row{
  max-height: 600px;
  overflow: hidden;
}
.nav>li>a{
  padding:3px;
  margin:0px;
  color:black;
}

.row>.nav-div>.nav>li{
  float:left;
  padding-left: 35px;
  text-align: left;
}

.bar{
  color:grey;
}
.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nav-div{
  border-top: solid black 1px;
  border-bottom: solid black 1px;
  margin-left: 30px;
  margin-right: 30px;
}

.photo{
  margin-left: 15px;
  width:auto;
}

.welcome{
  margin-left: 15px;
}

.feedcolor{
  color:white;
}

.add-right-margin{
  padding-right: 20px;
}

.feed{
  background-color: #991f1d;
  padding:10px;
}
.line>p{
  color: white;
}
.nav-foot{
  font-size: 10px;
  border-top:1px solid black;
  padding-left: 150px;
  padding-right: 150px;
  margin-left: 30px;
  margin-right: 30px;
}

.nav-foot-ul{
  margin-left: auto;
  margin-right: auto;

}

.img-border{
  padding:1px;
  border:1px solid #021a40;
  width:100%;
  height: auto;
}
.line{
  border-top:3px solid white;
  padding-top: 20px;
}
.foot-link{
    color: black;
}
.foot-li{
  float:left;
  padding-left: 30px;
  margin-top: 5px;
}

.copyright{
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 20px;
  margin-bottom: 30px;
}

.copyright>P{
  font-size: 10px;
  color:grey;
  text-align: center;
}
.col-md-4{
  padding-left: 0px;
  padding-right: 30px;
  height: auto;
}
#right{
  max-height: 450px;
  overflow: hidden;
}
.alink:hover, .foot-link:hover{
  color: red;
}
.borders {
  position: relative;
  border: 1px double grey;
}
